{xref_checks, [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
%  exports_not_used,
  deprecated_function_calls,
  deprecated_functions
]}.

{erl_opts, [
  debug_info,
  {parse_transform, lager_transform}
]}.
{deps, [
  {cowboy, "2.0.0"},
  {lager, "3.5.1"},
  {erl_fastcgi, {
    git, "git://github.com/marcelog/erl_fastcgi", {branch, "master"}}
  },
  {poolboy, "1.5.1"}
]}.
{relx, [
  {release, { cowboy_fastcgi, "0.1.0" }, [
    cowboy_fastcgi,
    sasl
  ]},

  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

  {dev_mode, true},
  {include_erts, false},

  {extended_start_script, true}]
}.

{profiles, [
  {prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]}]
}.
