[
  {lager, [
    {colored, true},
    {handlers, [
      {lager_console_backend, [{level, debug}]}
    ]}
  ]},
  {cowboy_fastcgi, [
    {http_port, 8080},
    {php_fpm_host, "127.0.0.1"},
    {php_fpm_port, 9000},
    {php_fpm_workers, 10},
    {php_fpm_reconnect, 1000},
    {php_fpm_root, "/tmp"}
  ]}
].
